<div class="section delete">
  <h2>Delete Section</h2>

  <%= form_for(:section, :url => {:action => 'destroy', :id => @section.id}) do |f| %>

  <p> Are you sure you want to permantely delete this section?</p>

  <p class="reference_name"><%= @section.name %></p>
  <p><%= @section.position%></p>
  
  <div class="form_buttons">
    <%= submit_tag("Delete Section")%>
  </div>
  <% end %>
</div>

<%= link_to("Back to Liist", {:action => 'index'}, :class => 'back_link')%>