<div class="section new">
<h2> Create Section</h2>

  <%= form_for(:section, :url => {:action => 'create'}) do |f| %>

  <table summary="section form fields">
    <tr>
      <th><%= f.label(:page_id)%></th>
      <td><%= f.select(:page_id, @pages.map{|p| [p.name,p.id]} )%></td>
    </tr>
    <tr>
      <th><%= f.label(:name)%></th>
      <td><%= f.text_field(:name)%></td>
    </tr>
    <tr>
      <th><%= f.label(:position)%></th>
      <td><%= f.select(:position, 1..@section_count)%></td>
    </tr>
    <tr>
      <th><%= f.label(:visible)%></th>
      <td><%= f.text_field(:visible)%></td>
    </tr>
    <tr>
      <th><%= f.label(:content_type)%></th>
      <td><%= f.radio_button(:content_type, 'text')%> Text</td>
      <td><%= f.radio_button(:content_type, 'HTML')%> HTML</td>
    </tr>
    <tr>
      <th><%= f.label(:content)%></th>
      <td><%= f.text_area(:content, :size => "35x10")%></td>
    </tr>
  </table>

  <div class="form_buttons">
    <%= submit_tag("Create Section")%>
  </div>
  <%end%>
</div>

<%= link_to("Back To List", {:action => 'index'}, :class => 'back to link')%>
