<div class="page delete">
  <h2>Delete Page</h2>

  <%= form_for(:page, :url => {:action => 'destroy', :id => @page.id}) do |f| %>

  <p> Are you sure you want to permantely delete this page?</p>

  <p class="reference_name"><%= @page.name %></p>
  <p><%= @page.position%></p>
   <p><%= @page.subject_id%></p>

  <div class="form_buttons">
    <%= submit_tag("Delete Page")%>
  </div>
  <% end %>
</div>

<%= link_to("Back to Liist", {:action => 'index'}, :class => 'back_link')%>