<div class="pages new">
<h2> Update page</h2>

  <%= form_for(:page, :url => {:action => 'update', :id => @page.id}) do |f| %>

  <table summary="Page form fields">
    <tr>
      <th><%= f.label(:subject_id)%></th>
      <td><%= f.select(:subject_id, @subjects.map{|s| [s.name, s.id]})%></td>
    </tr>
    <tr>
      <th><%= f.label(:name)%></th>
      <td><%= f.text_field(:name)%></td>
    </tr>
    <tr>
      <th><%= f.label(:permalink)%></th>
      <td><%= f.text_field(:permalink)%></td>
    </tr>
    <tr>
      <th><%= f.label(:position)%></th>
      <td><%= f.select(:position, 1..@page_count)%></td>
    </tr>
    <tr>
      <th><%= f.label(:visible)%></th>
      <td><%= f.check_box(:visible)%></td>
    </tr>
  </table>

  <div class="form_buttons">
    <%= submit_tag("Update Page")%>
  </div>
  <%end%>
</div>

<%= link_to("Back To List", {:action => 'index'}, :class => 'back to link')%>
