<%@page_title = "Pages"%>
<div class = "pages index">
  <h2> Pages</h2>
  
<div><%= pluralize(@pages.size, 'page')%> found</div><br>
  <table class="listing" summary="Page list">
  <tr class="header">
   
   <th>Subject ID</th> 
   <th>Position</th>
   <th>Page</th>  
   <th>Permalink</th>
   <th>Visible</th>
   <th>Sections</th>
   <th>Actions</th>
  </tr>
  <% @pages.each do |page| %>
  <tr>
    
    <td><%= page.subject_id %></td>
    <td><%= page.position %></td>
    <td><%= page.name %></td>
    <td><%= page.permalink%></td>
    <td class="center"><%= page.visible ? 'Yes' : "No" %></td>
    <td class="center"><%= page.sections.size %></td>
    <td class="action">
      <%= link_to("show", {:action => 'show', :id => page.id}, :class => 'action show') %>
      <%= link_to("edit", {:action => 'edit', :id => page.id}, :class => 'action edit') %>
      <%= link_to("delete", {:action => 'delete',:id => page.id}, :class => 'action delete') %>
    </td>
  </tr>
  <%end%>
  </table><br><br><br>  
  <%= link_to("Add New Subject", {:action => 'new'}, :class => 'action new') %>
  </div>
