<div class="pages new">
<h2> Create page</h2>

  <%= form_for(:page, :url => {:action => 'create'}) do |f| %>

  <table summary="Page form fields">
    <tr>
      <th>Subject ID</th>
      <td><%= f.text_field(:subject_id)%></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name)%></td>
    </tr>
    <tr>
      <th>Permalink</th>
      <td><%= f.text_field(:permalink)%></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= f.text_field(:position)%></td>
    </tr>
    <tr>
      <th>visible</th>
      <td><%= f.text_field(:visible)%></td>
    </tr>
  </table>

  <div class="from_buttons">
    <%= submit_tag("Create Page")%>
  </div>
  <%end%>
</div>

<%= link_to("Back To List", {:action => 'index'}, :class => 'back to link')%>
