<div class="subject delete">
  <h2>Delete Subject</h2>

  <%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>

  <p> Are you sure you want to permantely delete this subject?</p>

  <p class="reference_name"><%= @subject.name %></p>
  <p><%= @subject.position%></p>
  
  <div class="form_buttons">
    <%= submit_tag("Delete Subject")%>
  </div>
  <% end %>
</div>

<%= link_to("Back to Liist", {:action => 'index'}, :class => 'back_link')%>